@import "vendor/normalize";
@import "bourbon";
@import "bitters/bitters";
@import "neat";

$mobile: new-breakpoint(min-width 0px 6);
$tablet: new-breakpoint(min-width 660px 8);
$desktop: new-breakpoint(min-width 1160px 12);

/* 
 * COLOR
 */
$darkest: rgb(14,14,14);
$dark: rgb(25,25,25);
$darkLight: rgb(36,36,36);
$gray: rgb(150,150,150);

/* 
 * Main/HTML
 */
html, body, #main {
  height: 100%;
}

#main {

  .sidebar {
    height: 100%;
    background: rgb(25,25,25);
    li {
      padding: 10px 10px 10px 30px;
      border-bottom: 1px solid $darkLight;

      &.active {
        background: $darkest;
      }
    }
    a {
      display: block;
      color: $gray;
    }
  }

  @include media($mobile) {
    .sidebar {
      @include span-columns(3);
    }
    .content {
      @include span-columns(3);
      @include omega();
    }
  }

  @include media($tablet) {
    .sidebar {
      @include span-columns(3);
    }
    .content {
      @include span-columns(5);
      @include omega();
    }
  }
}
